/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
 
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #ddd;
}

h1 {
  font-size: 2rem;
  margin: 2rem 1.1rem;
}

div.article-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1.1rem;
}

div.article-preview {
  background-color: #fff;
  padding: 1.1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 2px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.article-preview > h3 {
  font-weight: 700;
}

div.article-preview > p {
  color: #777;
}

div.article-preview > *:not(:last-child) {
  margin-bottom: 15px;
}

a.btn {
  display: block;
  width: 95px;
  height: 25px;
  background-color: #1992d4;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 25px;
  text-decoration: none;
}

a.btn:hover {
  background-color: #1482bd;
}

a.btn:active {
  background-color: #1f9ee3;
}